name: Development

on:
  push:
    branches: [ "development" ]
  pull_request:
    branches: [ "development" ]

jobs:
  dev-tests:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_USER: b16_39466375
          MYSQL_PASSWORD: Hidayat060507
          MYSQL_DATABASE: b16_39466375_porto
          MYSQL_ROOT_PASSWORD: root
          DB_PORT: 3306
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
    - uses: actions/checkout@v3
    - name: Verify MySQL connection
      run: mysql --host 127.0.0.1 --port 3306 -ub16_39466375 -pHidayat060507 -e "SHOW DATABASES"
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Setting up file storage
      run: php artisan storage:link
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Generate key
      run: php artisan key:generate
    - name: Run Style Fixer
      run: ./vendor/bin/pint
    - name: Upload Laravel core to /htdocs
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP_DEV_HOST }}
        username: ${{ secrets.FTP_DEV_USER }}
        password: ${{ secrets.FTP_DEV_PASS }}
        server-dir: /htdocs/portofolio
        exclude: |
          public/**
          .git*
          node_modules/**
          vendor/**
          .env
          storage/logs/**
          storage/debugbar/**
          storage/framework/cache/data/**
          bootstrap/cache/config.php

      # 2. Upload isi folder public/ ke root FTP (htdocs)
    - name: Upload /public contents to /htdocs/
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP_DEV_HOST }}
        username: ${{ secrets.FTP_DEV_USER }}
        password: ${{ secrets.FTP_DEV_PASS }}
        local-dir: public/
        server-dir: /htdocs/
        exclude: |
          .git*
          hot

      # 3. Upload index.php yang sudah dimodifikasi (custom)
    - name: Upload index.php ke root
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
          server: ${{ secrets.FTP_DEV_HOST }}
          username: ${{ secrets.FTP_DEV_USER }}
          password: ${{ secrets.FTP_DEV_PASS }}
          server-dir: /htdocs/
          local-dir: ./custom-index/
